body {
      text-align: center;
      background-color: white;     
}

h2 {
  color: darkblue; 

}


h1 {
      color: red;
}

nav.menu-nav ul li.btn{
                       display: inline-block;
                       list-style-type: lower-roman;
}


nav.menu-nav ul li.btn a{
                        color: darkblue;
                        text-decoration-style: solid;
                        background: grey;      
                        padding: 15px;
                        margin: 5px;
                        border-radius: 40%;                        
}


nav.menu-nav ul li.btn:hover a{
                               color: darkblue;
                               background-color: white;
                               transition: 1s;
}

